<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MusubiMailerEntities" connectionString="metadata=res://*/MusubiDB.csdl|res://*/MusubiDB.ssdl|res://*/MusubiDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SIN-OMEGA\SQLEXPRESS;initial catalog=MusubiMailer;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>